<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/nextcloud/server/master/apps/firstrunwizard/templates/routes.xsd">
    <name>talk_bot</name>
    <routes>
        <route name="Webhook#receive" url="/webhook" methods="POST">
            <defaults key="action" value="receive"/>
        </route>
        <route name="Webhook#health" url="/webhook/health" methods="GET">
            <defaults key="action" value="health"/>
        </route>
    </routes>
</routes>
